/** Style sheet for GWT Widgets
 * Cross Language Wikipedia Link Discovery Web Version
 * Author: Hazirah Hamdani
 * Date: November 2012
 *
 * Crosslink_malay.css
 * */
.label1 {
	font-family: Georgia, verdana, Helvetica, sans-serif;
}

.urlField {
	width: 500px;
	font-family: Georgia, verdana, Helvetica, sans-serif;
}

.goButton {
	display: block;
	font-size: 10pt;
	background-color: #ffffff;
	font-weight: bold;
	font-family: Georgia, verdana, Helvetica, sans-serif;
}

#gwt-Frame {
	border-style: none;
	width: 100%;
	height: 700px;
}

.gwt-Frame {
	border-style: none;
	width: 100%;
	height: 700px;
}

#gwt-HTML {
	border-style: none;
	width: 100%;
	height: 700px;
}

.gwt-HTML {
	border: 0px;
	width: 100%;
	height: 700px;
}

// Style for HTML widget
.htmlStyle a:link, .htmlStyle a:active {
	text-decoration: none;
    color: blue;
    font-weight: bold;
    cursor: default;
}