/** Style sheet for Web page
 * Cross Language Wikipedia Link Discovery Web Version
 * Author: Hazirah Hamdani
 * Date: November 2012
 *
 * Crosslink_malay.css
 * */
body {
 background-color: #FFFFFF;
    color: #000000;
    font-family: Georgia,verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    cursor: default;
  
}

h1 {
	padding-top: 30px;
	padding-bottom: 10px;
	 font-family: Georgia,verdana, Helvetica, sans-serif;
}

h2 {
	
	 font-family: Georgia,verdana, Helvetica, sans-serif;
	 font-size: 14px;
}


#webContent {
	padding-left: 50px;
	padding-right: 40px;
	padding-top: 50px;
	padding-bottom: 10px;
}


#topLinks {
	
	 font-family: Georgia,verdana, Helvetica, sans-serif;
}

#footer {
	 font-family: Georgia,verdana, Helvetica, sans-serif;
}

#contentSmall {
	width: 984px;
	margin-left: auto;
	margin-right: auto;
	background: url("images/wikim2e_bg_small.png");
	
}

#content {
	width: 993px;
	margin-left: auto;
	margin-right: auto;
	background: url("images/wikim2e_bg.png");
	
}

/* Style for top link nav */

#topLinks a:link {
    text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}

#topLinks a:hover {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;

    text-decoration: underline;
    cursor: default;
}

#topLinks a:visited {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}

#topLinks a:active {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}

/* Style for footer nav */

#footer a:link {
    text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}

#footer a:hover {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;

    text-decoration: underline;
    cursor: default;
}

#footer a:visited {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}

#footer a:active {
	text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    cursor: default;
}


a:link, a:hover, a:visited, a:active {
	cursor: default;
}

#content a:link, #content a:visited, #content a:active {
	cursor: default;
	color: #000000;

}

#content a:hover, #contentSmall a:hover {
	cursor: default;
	font-weight: bold;
}

#contentSmall a:link, #contentSmall a:visited, #contentSmall a:active {
	cursor: default;
	color: #000000;

}

