@charset "UTF-8";
/* CONTAINS GLOBAL CSS for home page, and common elements */

* {
	text-rendering: optimizeLegibility;
}

body {
	background:url(/bharian/Images/background.jpg) #f0efed;
	color: #222;
	font: 14px/1.4 Georgia, "Times New Roman", Times, serif;
}

#wrapper {
	width:1000px;
	margin: 0 auto;
}

a {
	color:#144476;
}

a:hover {
	color: #b00;
}


/******************* TYPOGRAPHY *******************/
.nav, h1, h2, h3, h4, h5, h6, .vote-tab {
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	line-height:1.2;
}


/******************* HEADER *******************/

.header {
	margin:10px 0 10px;
}

.header-content {
	height:126px;
	background:url(/bharian/Images/header-bg.png) bottom repeat-x;
	margin:0 0 0 5px;
	font: 11px/1.4 Helvetica, Arial, sans-serif;
	color:#fff;
	position: relative;
	float: right;
	padding: 0 15px 0 12px;
	width:803px;
}

	.header-content:after, .content:before{
	content: ''; position: absolute; bottom:-3px; left: 3px;
	width:994px; height:3px; background: rgba(0,0,0,0.08);
 }
 
 	.header-content:after {
		width:822px;
	}
 
.header a {
	color: #500;
	text-shadow: 0 1px 0 #ff4f49;
	font-weight: bold;
}

.header a:hover {
	color: #300;
}

.bh-logo {
	width:165px; height:136px;
	display:block;
	float:left; 
	position: relative;
	top:-6px;
}

.solat {
	font-size:10px;
	line-height:23px; height:23px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	text-align:right;
}

.header .solat a {
	color:#fff;
	text-decoration:underline;
	font-weight: bold;
	text-shadow: none;
}

.header-main {
	height: 70px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);	
}

	.header-main > div {
	padding: 10px 15px 10px 10px; height:50px;
	}

	.header-main > div:last-child {
	padding-right:0;
	}

	.header-main > div:first-child {
	padding-left: 0;
	}

.header-links {
	border-left: 1px solid #f1443b;
}

.header-links li {
		background:url(/bharian/Images/bullet-header-links.png) left no-repeat;
		padding-left: 8px;
	}

.search {
	display:table;
}

#search-bh {
	display: table-cell;
	vertical-align:middle;
	position: relative;
	top:-1px;
}

#search-bh input[type="text"] {
	background: #b91714;
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	height:30px; padding: 8px 5px; width:190px;
	color: #fff;
	float: left;
}

#search-bh input {
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

#search-bh input:focus, #search-bh input:active {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 0 8px rgba(255,255,255,0.6); box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 0 8px rgba(255,255,255,0.6);
}

#search-bh input[type="submit"] {
	background: #b1100e;
	background: -moz-linear-gradient(top, #b1100e 0%, #7d0907 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1100e), color-stop(100%,#7d0907));
	background: -webkit-linear-gradient(top, #b1100e 0%,#7d0907 100%);
	background: -o-linear-gradient(top, #b1100e 0%,#7d0907 100%);
	background: -ms-linear-gradient(top, #b1100e 0%,#7d0907 100%);
	background: linear-gradient(top, #b1100e 0%,#7d0907 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1100e', endColorstr='#7d0907',GradientType=0 );
	
	height:30px; line-height:25px; color:#fff; text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	border: none;
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.2); box-shadow: inset 1px 0 0 rgba(0,0,0,0.2);
	padding: 0 10px;
	cursor:pointer;
}

	#search-bh input[type="submit"]:focus, #search-bh input[type="submit"]:active {
		background: #7d0907;
		background: -moz-linear-gradient(top,  #7d0907 50%, #b1100e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#7d0907), color-stop(100%,#b1100e));
		background: -webkit-linear-gradient(top,  #7d0907 50%,#b1100e 100%);
		background: -o-linear-gradient(top,  #7d0907 50%,#b1100e 100%);
		background: -ms-linear-gradient(top,  #7d0907 50%,#b1100e 100%);
		background: linear-gradient(top,  #7d0907 50%,#b1100e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0907', endColorstr='#b1100e',GradientType=0 );
	}
	
.nav li {
	float: left;
	position: relative;
}

.nav li.active a {
	color:#fff;
}

.nav li.active:after {
	content:'';
	width: 8px; height:7px; display:block;
	position: absolute;
	background:url(/bharian/Images/section-triangle.png) left no-repeat;
	top: 0;
}
	

.nav a {
	display: block;
	margin: 0 13px 0 0;
	line-height:31px;
	font-size:13px;
	font-weight:700;
	color:#ddd;
	text-shadow: 0 1px 2px #000;
	text-transform:uppercase;
}

.nav a:hover {
	color:#fff;
}

	a.nav-fb, a.nav-tw, a.nav-yt {
		background: url(/bharian/Images/nav-social-icon.png) no-repeat;
		width: 18px; height: 18px; margin-right:5px !important;
		position: relative; top:7px; left:23px;	
	}
	
	a.nav-fb {
		background-position: -1px -2px;
	}
	
	a.nav-tw {
		background-position: -25px -2px;
	}
	
	a.nav-yt {
		background-position: -48px -2px;
	}


/******************* LEADERBOARD & BH APPS *******************/

.leaderboard {
	overflow: hidden; height:90px;
}

.bh-apps {
	background: url(/bharian/Images/stripe.png) #767676;
	width: 258px; height: 90px;	
}

	.bh-apps ul {
		overflow: hidden;
	}
	
	.bh-apps li {
		float: left;
	}
	
	.bh-apps a {
		width:85px; height:90px; display:block;
		border-left: 1px dotted #999;
		color:#ddd;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
		font-family:Helvetica, Arial, sans-serif; font-size: 11px; font-weight:bold;
		text-align: center; line-height:35px;
		background:url(/bharian/Images/bh-digital.png) center 33px no-repeat;
		-moz-transition:all 0.1s ease-out; -webkit-transition:all 0.1s ease-out; transition:all 0.1s ease-out;
	}
	
		.bh-apps a:hover {
			background-position: center 30px;	
			color:#eee;
		}
	
		.bh-apps a.bh-ipad {
			background-image:url(/bharian/Images/bh-ipad.png);
		}
		
		.bh-apps a.bh-android {
			background-image:url(/bharian/Images/bh-android.png);
		}
		


/******************* CONTENT *******************/

.content {
	margin: 25px 0; position:relative; background: url(/bharian/Images/content-bg.png) repeat-y; padding: 0 0 20px;
}

.main {
	width:650px; padding: 0 15px 15px; margin-top:-15px;
	background: url(/bharian/Images/content-triangle.png) top right no-repeat; min-height:500px;
}

.sidebar {
	width:300px; padding: 0 10px; position: relative
}


/******************* SIDEBAR *******************/

.sidebar h4 {
	font-family: helvetica, Arial, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color: #666;
}

.sidebar h4.first {
	position: absolute;
	top: -16px;
	left: 10px;
}

.sidebar img {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2); margin-bottom:5px;
}

/******************* MAIN *******************/

/* homepage top area */

.top {
	margin-bottom:20px;
}

.top-news {
	width:320px;
}

.margin-left-10px {
	margin-left: 10px;
}

.news-photo {
	background: #333 url(/bharian/Images/stripe.png);
	color: #ccc;
	text-shadow: 0 1px 1px #000;
	font-size:12px;
}

	.news-photo p {
		padding:5px 10px;
		margin:0;
	}

.photo-thumb {
	background: #272727 url(/bharian/Images/stripe.png);
	padding: 11px;
}

	.photo-thumb p {
		font-family: Helvetica, Arial, sans-serif;
		color:#fff; font-weight: bold; font-size:11px; text-transform: uppercase;	
		padding: 0;
	}

	.photo-thumb ul {
		display:inline-block;
	}
	
	.photo-thumb a.more {
		margin: 0; line-height:1.4; color:#888; font-family:Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		background-position:right 5px;
	}
	
	.photo-thumb a.more:hover {
		color:#aaa;
	}
	
	.photo-thumb li {
		float:left;
		margin: 5px 6px 0 0;
	}
	
	.photo-thumb li:last-child {
		margin-right:0;
	}

	.photo-thumb img {
		-webkit-box-shadow: 0 1px 5px #000; box-shadow: 0 1px 5px #000; opacity: 0.9; width:70px; height:70px
	}
	
	.photo-thumb a:hover img, .photo-thumb a.active img {
		opacity: 1;
	}
	
	.photo-control ul {
		overflow:hidden;
		padding: 2px 10px 10px;
	}
	
	.photo-control li {
		float:left;
	}
	
	.photo-control li a {
		width:17px; height:17px;
		background:url(/bharian/Images/photo-control.png) top left no-repeat; display:block; margin-right:5px;	
		-webkit-box-shadow: 0 0 1px #ccc; box-shadow: 0 0 1px #ccc; 
	}
	
	.photo-control li a.prev:hover {
		background-position: bottom left;
	}
	
	.photo-control li a.next {
		background-position: right top;
	}
	
	.photo-control li a.next:hover {
		background-position: right bottom;
	}
	
.video-content {
	position: relative;
	top:-7px;
}

/******************* NEWS ITEM (Home/Section) *******************/

.news-item {
	margin:10px 0;
	overflow:hidden;
	padding: 0 0 7px;
	border-bottom: 1px dotted #ddd;
}

.top .news-item {
	margin:5px 0;
	padding: 0 0 5px;
}

.top .news-item h1 {
	font-size:24px;
}

.top .news-item h2 {
	font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal;
}

.post-data {
	color: #ff0000; font-size:11px;
	font-family:Helvetica, Arial, sans-serif;
	margin: 3px 0;
}

	.post-data a {
		color: #ff0000;
	}
		
		.post-data a:hover {
			text-decoration: underline;	
		}

	.post-data img {
		margin: 0 2px;
	}

.news-item img ~ p {
	padding-left: 110px;
}

/******************* BANCIAN TAB *******************/

.tab-content {
	background:#fafafa;
	padding:10px 15px 15px;
	margin: -15px 0 0 -15px;
}

	.tab-content li {
		background:url(/bharian/Images/news-list-dot.png) left 12px no-repeat;
	padding: 5px 0 5px 9px;
	}

.vote-tab {
	background:#666;
}

.vote-tab li {
	float:left;
	border-left: 1px solid #fff;
}

.vote-tab li:first-child {
	border-left: none;
}

.vote-tab li a {
	background:#666; height:25px; line-height:25px; color:#fff; padding: 0 15px; display:block;
}

.vote-tab li a:hover {
	background:#777;
}

.vote-tab li a.active {
	background:#d00;
}

	.vote-tab li a.active:after {
		content:'';
		width: 8px; height:7px; display:block;
		position: absolute;
		background:url(/bharian/Images/section-triangle.png) left no-repeat;
	}

.tab-content input[type="button"] {
	border:1px solid #999;
	background:#d0d0d0;
	display:inline-block;
	margin:10px 10px 0 0;
	padding: 5px 10px;
	font-size:12px;
	text-shadow: 0 1px 0 #eee;
	position: relative;
	font-family:Georgia, "Times New Roman", Times, serif
}

.tab-content input[type="button"]:hover {
	background:#ddd;
}

.tab-content input[type="button"]:active {
	top:1px;
}

#vote label {
	display:block;
	margin: 2px 0;
	font-size: 13px;
}


/******************* ICON SPRITE *******************/

.sprite-icon {
	background:url(/bharian/Images/sprite-icons.png) top left no-repeat;
	padding:0 0 0 13px;
	margin: 0 3px;
}

.comment {
	background-position: left -10px;
}

.author {
	background-position: left -35px;
}

.print {
	background-position: left -47px;
}

.email {
	background-position: left -59px;
}




/* others */

.news-section {
	margin:10px 0
}

.section-title {
	height:25px; background:#fafafa url(/bharian/Images/stripe.png);
	margin-bottom: 15px;
}

.section-title h3 {
	background:#d00; height:25px; line-height:25px; color:#fff;
	font-size:13px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	float: left; min-width:85px;
	padding:0 15px;
	text-transform:uppercase;
}

	.section-title h3:after {
		content:'';
		width: 8px; height:7px; display:block;
		position: absolute;
		background:url(/bharian/Images/section-triangle.png) left no-repeat;
	}

	.section-title h3 a {
		color:#fff;
	}
	
.section-title p {
	margin: 0;
}

.more {
	float:right; font-size:12px;
	line-height: 25px;
	padding-right:13px; margin: 0 8px;
	background:url(/bharian/Images/red-arrow.png) right 8px no-repeat;
	color: #666;
}

.stick-left {
	margin-left: -15px;
}

/* color variations */
.section-title.sukan h3 {background:#618724}
.section-title.dunia h3 {background:#006288}
.section-title.ekonomi h3 {background:#659ab2}
.section-title.hip h3 {background:#7570b3}
.section-title.gray h3 { background:#767676;}
	.section-title.gray h3:after {background-position:-40px;}

.section-title.sukan h3, .section-title.dunia h3, .section-title.ekonomi h3, .section-title.hip h3, .section-title.general h3 {margin-left:-21px;}
	.section-title.sukan h3:after, .section-title.dunia h3:after, .section-title.ekonomi h3:after, .section-title.hip h3:after, .section-title.general h3:after {
		background-position: -56px top; left: -5px
	}


.news-section-content {
	clear:both;
	overflow: hidden;
	margin: 10px 0;
}

.main-news {
	float:left;
	width:430px;
	margin-right:10px;
}

	.news-thumbnail {
		float: left;
		margin:5px 10px 0 0;
	}
	
	.main-news p {
		padding-left: 110px;
	}

.news-section-content ul {
	float: right;
	width:210px;
}
.news-section-content li, .side-column li, .tab-content li {
	background:url(/bharian/Images/news-list-dot.png) left 12px no-repeat;
	padding: 5px 0 5px 9px;
	border-bottom: 1px dotted #ddd;
}

	.news-section-content li:first-child, .side-column li:first-child , .tab-content li:first-child{
		padding-top: 3px;
		background-position: left 10px;
	}

.kolumnis ul {
	float:left;
	width:320px;
	margin-left:10px;
	position: relative;
	top: -5px;
}

.kolumnis ul:first-child {
	margin-left:0
}

.kolumnis li {
	background: none;
	border: none;
	padding: 5px 0 10px 60px !important;
	position: relative;
	border-bottom: 1px dotted #ddd;
}

.kolumnis span {
	font: 11px/1 Helvetica, Arial, sans-serif;
}

.kolumnis span a {
	color:#d00;
}

.kolumnis h2 {
	line-height:1
}

.profile {
	position: absolute;
	left:0;
	top:11px;
}


/******************* FOOTER *******************/

.footer {
	border-top: #dbdbd8 3px solid; margin-top:75px; position: relative;
	color:#666;
}

.footer a { 
	color:#666; 
}

.footer a:hover { 
	text-decoration: underline;
}

.footer span {
	position: absolute; top:-28px; left:0;
	background: url(/bharian/Images/red-arrow.png) no-repeat 0 -17px;
	display:block;
	padding-left: 12px;
}


.footer div.fd { position: absolute; top:-28px; right:0; display:block; padding-left:12px;}

	.footer-left {
		width:680px;
	}
	.footer-left > ul {
		margin: 8px 0;
	}
	
	.footer-left > ul > li {
		width:25%;
		float:left;
	}
	
	.footer-left > ul > li:first-child {
		font-weight: bold;
	}
	
	.footer-right {
		width:320px;
		text-align: right;
	}
	
	p.copyright {
		margin-top:8px; font-size:11px;
	}
	
	

/******************* MISC *******************/

.red {
	color:#b00;
}

.left {
	float: left;
}

.right {
	float: right;
}

.cf:after, .header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************* IE *******************/

.lt-ie8 .content {
	overflow: hidden;
}

.lt-ie8 .main {
	margin-top: 0; background: none;
}

.lt-ie8 .bh-ad, .lt-ie8 .top {
	clear:both;
}

.lt-ie8 .top {
	display: inline-block;	
}

.lt-ie8 #search-bh input[type="text"] {
	height: auto;
}

.lt-ie8 #search-bh {
	margin: 25px 0 0 0;
}

.lt-ie9 #search-bh {
	position: relative;
	right:-15px;
}

.lt-ie9 .photo-thumb ul {
	width:298px;
}

.lt-ie9 .photo-thumb li {
	margin-right:4px;
}


/*mutakhir pix*/

.slides_container {
   width:320px;
   display:none;
}

.slides_container div {
   width:320px;
   height:auto;
   xmin-height:320px;
   display:block;
}


.slides_container div a {
  color:#ffe400;
}

.pagination {
    list-style:none;
			margin:0;
			padding:0;
}

.pagination .current a {color:red;}

a.prev {
      float:left; width:17px; height:17px;
      background:url(/bharian/Images/photo-control.png) left top no-repeat; margin:0 5px 8px 10px;	
      -webkit-box-shadow: 0 0 1px #ccc; box-shadow: 0 0 1px #ccc; 
}

a.next {
	float:left; width:17px; height:17px;
	background:url(/bharian/Images/photo-control.png) -37px top no-repeat; margin:0 5px 8px 2px;	
	-webkit-box-shadow: 0 0 1px #ccc; box-shadow: 0 0 1px #ccc; 
}

/*additional*/
.topred {
color:#fff;
font-weight:bold;
padding:2px 5px;
background-color:#ea1c26;
text-align:center;
}

.txtlinks {
float:left;
width:500px;
margin:10px 0 10px 80px;
border:1px solid #000;
}

ul.norm {
color:#333;
padding:20px 5px 15px 20px;
margin:0; 
list-style:disc;
}

.norm li {margin:0px 0 8px 0;}

.adbtm {
float:left;
width:215px;
height:74px;
margin:10px 0;
}

#cadv {
width:300px; 
float:left;
text-align:center;
font-size:10px;
color:#918d8b;
margin:0 0 10px 0px;
} /*container utk ad square di kanan*/

#cadv2 {
width:300px; 
float:left;
text-align:center;
font-size:10px;
color:#918d8b;
margin:0 0 5px 8px;
} /*container utk ad rectangular di kanan*/


.clear {height:1px; clear:both;}

/*video frontpage*/
.tvcont {
width:320px;
float:left;
padding-bottom:5px;
margin:0 0 8px 8px;
border:1px solid #444;
background:#000 url(/bharian/Images/bgvidfrt.gif) top right no-repeat;
}

#tvtop {
float:left;
width:310px;
height:20px;
padding:5px;
font-weight:bold;
background:url(/bharian/Images/bgbrownori.gif) top left repeat-x;
}

.tvhold{
width:200px;
float:left;
margin:5px 0 0 5px;
}

.tvbox {
width:210px;
float:left;
}

.vcaps {
color:#fff;
float:left; 
margin:5px;
padding-bottom:10px;
}

.vcaps1 {
width:200px;
color:#fff;
float:left; 
margin:5px 0;
padding-bottom:10px; 
}

.tvlist {
width:85px;
float:right;
margin-right:3px;
}

#vtum {
float:left; 
width:80px; 
height:60px; 
margin:5px 2px 0 2px; 
border:1px solid #CCC;}

#vxtag {width:100px; float:left; padding:0;}
#vxmore {width:30px; float:right; padding:2px 3px;}

/*video article*/
.vxart {
border:1px solid #0e0901;
width:300px; 
float:right; 
margin:0 0 8px 8px;}

.vxholder {
width:300px;
float:left;
margin-bottom:8px;
}

.vxcap {
width:290px;
float:left;
padding:5px;
}


.hicons {
float:left;
border-left: 1px solid #f1443b;
width:150px;
padding:0 0 0 8px; margin:0;
}