@charset "UTF-8";


/******************* LAYOUT *******************/

.main-column {
	width:475px;
}

.side-column {
	width: 160px;
	margin-left: 15px;
}

/******************* SIDE COLUMN *******************/

.side-column-wrapper {
	margin: 0 0 15px;
}

a.reb-btn {
	background:#da1a24 url(/bharian/Images/stripe.png);
	color:#fff; text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	padding:3px 5px; font-size:12px; display:block; text-align: center;
	margin: 5px 0 0;
}

a.reb-btn:hover {
	-webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc;
}

/******************* PAGINATION *******************/

.pagination {
	margin: 15px 0;
}

	.pagination li {
		float: left;
		margin-right: 5px;
	}

	.pagination a {
		background: #cfcfc9 url(/bharian/Images/stripe.png);
		display:block;
		padding: 5px 10px;
		color: #555; font-family:Helvetica, Arial, sans-serif; font-size:11px; font-weight: bold;
		text-shadow: 0 1px 1px rgba(255,255,255,0.5);
		position: relative;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
	
	.pagination a:hover {
		background-color:#e0e0dc;
	}
	.pagination a:active {
		top: 1px;
	}
	
	.pagination a.active-page {
		color: #fff;
		background: #d00;
		text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	}
	
	a.active-page:after {
		content: ''; position: absolute; width:8px; height: 7px;
		background:url(/bharian/Images/section-triangle.png) -48px top no-repeat;
		top:-7px; left:9px;	
	}


/******************* ARTICLE *******************/

.article-header {
	padding-bottom: 5px;
	border-bottom: 1px dotted #ddd;
}

.article h1 {
	margin:20px 0 10px;
}

.article h2 {
	margin: 10px 0;
}

.article-body {
	margin: 15px 0;
}

	.article-body h3 {
		border-bottom: 1px dotted #ddd;
		color: #144476;
		padding-bottom: 5px;
	}
	
	.article-body p {
		margin: 10px 0;
	}
	
	.article-body p + h3 {
		margin-top:15px;
	}
	
	.article-body blockquote {
		color:#666;
		font-style:italic;
		padding: 10px 15px;
		font-size:14px;
		position: relative;
	}
	
	.article-body blockquote:before{
		content: open-quote;
		position: absolute; top:-10px; left:-10px;
		font-size:50px;
		font-weight:bold;
		color:#b00;
		font-family: 'pt sans', sans-serif; width:10px; height:10px;
	}
	
	.article-body ul {
		margin: 10px 0;
	}
	
	.article-body li {
		background:url(/bharian/Images/news-list-dot.png) left 13px no-repeat;
		padding: 5px 0 5px 9px; font-size: 14px;
		border-bottom: 1px dotted #ddd;
	}
	
	.article-image {
		text-align:center;
		margin: 20px 0;
	}
	
	.article-image img {
		max-width: 475px;
	}
	
	.article-image span {
		display:block;
		font-style:italic;
		font-size:12px;
		color:#666;
	}
	

.social-share {
	padding:6px 0 2px;
	border-bottom: 1px dotted #ddd;
}

.related, .article-comment {
	margin: 25px 0;
	font-size:14px;
}

.related h2 {
	font-size:16px;
}


/*komen article*/
.artcomt {width:450px; float:left; padding:5px 0 8px 0; border-top:1px dotted #ccc;}
.artkom {width:450px; float:left; padding:10px 0;}

.tkomen {
border-top:1px solid #0e0901;
height:20px;
font-size:13px;
font-weight:bold;
width:455px;
margin:5px 0;
padding:5px;
background:url(/bharian/Images/bgbrownori.gif) top left repeat-x;
}

.frmkomen {
width:470px; 
background-color:#ffefef;
border:1px solid #dfdfdf; 
margin:0 0 5px 0;
}

.frmkomen td { vertical-align:top; padding:5px;}

#note {color:#003366; margin-bottom:10px;}

.rowkom {float:left; width:455px; color:#333; margin:5px 0; }
.ide {float:left; font-weight:bold;}

.iko {
float:left; 
width:450px; 
padding:10px; 
border:2px solid #ccc;
border-top:1px solid #e6e6e6;
border-left:1px solid #e6e6e6;
background-color:#f7f5f5;
}	

/*latest article slideshow*/
.sldcont {
width:400px; 
height:400px; 
overflow:hidden; 
position:relative; 
cursor:pointer; 
margin-bottom:8px;
}

div.slides { position:absolute; top:0; left:0; }
ul.slides { position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; list-style-image:none;}
div.slides > div, ul.slides li { position:absolute; top:0; width:400px; display:none; padding:0; margin:0 auto; list-style:none;}
ul.slides li img {margin:0 auto; }
ul.slides li p {font-weight:strong;}

#newsSlider {margin:0 auto; width:400px; position:relative; clear:both; text-align:center;}
#newsSlider a.prv, #newsSlider a.nxt {background-image:none; width:30px; height:13px; }

/*advertisement*/
.island {float:left; width:455px; text-align:center; margin:8px auto;}

.bhkomen {
  float:left;
  width:106px;
  height:21px;
  background:url("/bharian/Images/komen.png") right top no-repeat;
}

.bhkomen a {color:red; font:12px Arial, Verdana, Helvetica, sans-serif; font-weight:bold;}
